/* reset styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0; padding:0; border:0; outline:0; font-size:100%; font-weight: normal; vertical-align:baseline; background:transparent;} body { line-height:1; } article,aside,details,figcaption,figure,
footer,header,hgroup,menu,section { display:block;} nav, ul { list-style:none;}


/* end reset styles */

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 

@font-face {
	font-family:"Tall Dark And Handsome Condensed";
	src: url("font/talldark.eot?") format("eot"), url("font/talldark.woff") format("woff"), url("font/talldark.ttf") format("truetype"),url("font/talldark.svg#TallDarkAndHandsome-Condensed") format("svg");
	font-weight:normal;
	font-style:normal;
}

.carousel-center {
	font-family: "Tall Dark And Handsome Condensed", Futura, "Trebuchet MS", Arial, sans-serif;
}

/* General styles */
.panel {
	display: none;
}

.panel.show {
	display: block;
}

#wrapper {
	
	background-color: #ffffff;
	margin: 0 auto;
	padding: 0.9% 20%;
}

	
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	border: 0;
	color: #fff;
	outline:none;
}

.indented {
	text-indent: -9999px;
}

header {
	min-width: 370px;
	min-height: 52px;
	background: url("../image-sprite.png") -7px 0 no-repeat;
	margin-top: 1.05%;
	margin-bottom: 2%;
}

nav {
	margin-bottom: 1.3%;
	min-width: 684px;
}

.nav-text {
	display: inline-block;
}

nav li {
	display: inline;
	margin-right: 4.4%;
}

nav ul li:last-child {
    margin-right: 0;
}

#illustration-link, #illustration-link:link {
	width: 115px;
	background: url("../image-sprite.png") 0 -236px no-repeat;
}

#illustration-link:hover, #illustration-link.current:link {
	background: url("../image-sprite.png") 0 -252px no-repeat;
}

#graphic-link, #graphic-link:link {
	width: 137px;
	background: url("../image-sprite.png") 0 -268px no-repeat;
}

#graphic-link:hover, #graphic-link.current:link{
	background: url("../image-sprite.png") 0 -284px no-repeat;
}

#sketchbook-link, #sketchbook-link:link {
	width: 103px;
	background: url("../image-sprite.png") 0 -300px no-repeat;
}

#sketchbook-link:hover, #sketchbook-link.current:link {
	background: url("../image-sprite.png") 0 -316px no-repeat;
}

#about-link, #about-link:link {
	width: 49px;
	background: url("../image-sprite.png") 0 -332px no-repeat;
}

#about-link:hover {
	background: url("../image-sprite.png") 0 -348px no-repeat;
}


#store-link, #store-link:link {
	width: 49px;
	background: url("../image-sprite.png") 0 -364px no-repeat;
}

#store-link:hover, #store-link.current:link {
	background: url("../image-sprite.png") 0 -380px no-repeat;
}

#blog-link, #blog-link:link {
	width: 38px;
	background: url("../image-sprite.png") 0 -396px no-repeat;
}

#blog-link:hover {
	background: url("../image-sprite.png") 0 -412px no-repeat;
}

#contact-link, #contact-link:link {
	width: 70px;
	background: url("../image-sprite.png") 0 -428px no-repeat;
}

#contact-link:hover, #contact-link.current:link {
	background: url("../image-sprite.png") 0 -444px no-repeat;
}

#contact {
	width: 754px;
}

#contact img {
	display: block;
	margin: 0 auto 0 auto;
}

/*Thumbnail carousel */

#carousel-nav {
	width: 121px;
	margin: 0 auto;
	padding-top: 2%;
	clear: both;
}

.prev, .prev:link, .prev:hover{
	display: inline-block;
	height: 30px;
	width: 33px;
	margin-right: 10px;
	background: url("../image-sprite.png") 0 -58px no-repeat;
	float: left;
}

.carousel-center {
	float: left;
	height: 35px;
	width: 35px;
	background: url("../image-sprite.png") 0 -145px no-repeat;
	line-height: 2.2em;
}

.next, .next:link, .next:hover{
	display: inline-block;
	height: 30px;
	width: 33px;
	margin-left: 10px;
	background: url("../image-sprite.png") 0 -101px no-repeat;
	float: left;
}

/* Gallery styles */

#leah-slideshow {	
	min-height: 26em;
	line-height: 26em;
	text-align:center;
}

#hero {
	margin: 0 auto;
	width:90%;
	height:26em;
}

#hero img {
	width: auto;
	max-width:100%;
	max-height:26em;
	vertical-align: middle;
}

#hero.horiz img {
	width:100%;
}

/* Panels */
#store {
	width: 583px;
	margin: 20px auto 0 auto;
}

/* Footer styles */

footer {
	min-height: 13px;
	clear: both;
	padding-top: 5%;
	padding-bottom: 1.5%;
}

.facebook, .facebook:link, .facebook:hover{
	min-width: 148px;
	background: url("../image-sprite.png") 0 -190px no-repeat;
	float: left;
	margin-right: 6px;
}

.fb-like {
	float: left;
}

.gilded-link, .gilded-link:link, .gilded-link:hover{
	min-width: 142px;
	background: url("../image-sprite.png") 0 -213px no-repeat;
	float: right;
}