nav li {
	padding-left: 13px;
}

.about-lbt {
	font:14px 'Puritan', sans-serif;
}


#leah-slideshow div.caption {
	text-align:right;
	margin:5% 0 2% 0;
	position:relative;
	left:35%;
}

.about-text {
	margin-bottom: 8px;
}	

.about-header {
	margin-top: -62px;
}

.inquiry-info {
	font:bold 18px 'Oswald', sans-serif;
	letter-spacing: 0;
}

.comm-info, .about-header{
	font-family:'Oswald', sans-serif;
	letter-spacing: 0.03em;
}