// bower:scss
@import 'bourbon';
@import 'neat';
// endbower

/* reset styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0; padding:0; border:0; outline:0; font-size:100%; font-weight: normal; vertical-align:baseline; background:transparent;} body { line-height:1; } article,aside,details,figcaption,figure,
footer,header,hgroup,menu,section { display:block;} nav, ul { list-style:none;}
/* end reset styles */


$medium-up: new-breakpoint(min-width 904px);

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */

@font-face {
  font-family:"Tall Dark And Handsome Condensed";
  src: url("fonts/talldark.eot?") format("eot"), url("fonts/talldark.woff") format("woff"), url("fonts/talldark.ttf") format("truetype"),url("fonts/talldark.svg#TallDarkAndHandsome-Condensed") format("svg");
  font-weight:normal;
  font-style:normal;
}

/* General styles */
.hidden {
  display: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  border: 0;
  color: #000000;
  outline:none;
}

a.fb {
  color: #003471;
  text-decoration: underline;
}

.indented {
  text-indent: -9999px;
}

.splash .wrapper {
  margin: rem(46) auto rem(72);
}

  .splash header {
    margin: rem(12) auto;
    width: rem(254);
    height: rem(254);
    position: relative;

    a {
      text-indent: -9999px;
      background: url(/images/header-vertical.png) 0 0 no-repeat;
      display: block;
      margin: 0 auto;
      width: rem(254);
      height: rem(254);
    }
  }

  .splash .sites {
    position: relative;
    margin: 0 rem(16);
    img {
      width: 90%;
      display: block;
      margin: 0 auto;
    }

    .gilding {
      margin-bottom: rem(78);
    }
  }

@include media($medium-up) {
  .splash .wrapper {
    background: url(/images/background.jpg) 0 0 no-repeat;
    max-width: rem(904);
    margin-top: rem(98);
    min-height: rem(700);
  }

  .splash .sites {
    @include outer-container(100%);
  }

  .splash header {
    height: rem(84);
    a {
      position: absolute;
      top: rem(-12);
      left: rem(6);
      z-index: 99;
    }
  }
  .splash .sites .gilding {
    @include span-columns(6);
    margin-bottom: 0;
    img {
      width: auto;
      position: relative;
    }
  }
  .splash .sites .design {
    @include span-columns(6);
    img {
      width: auto;
      left: rem(9);
    }
  }

  .splash .sites .gilding img {
    left: rem(-9);
  }
}



